@using MvcApplication1.Models
@using MvcApplication1.Paperless_System

@{
    ViewBag.Title = "DailyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/personal.css" rel="stylesheet" />

<body>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-header">
                        <h1 class="box-title">Daily Orders</h1>
                        <button style="float:right" id="refresh" class="btn btn-default">Refresh Orders</button>
                        <div style="float:right" class="col-xs-4">
                            <div class="input-group">
                                <input type="text" id="searchBox" name="q" maxlength="6" class="form-control" placeholder="Search for shop order #">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" id="searchButton" disabled>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <h3></h3>
                    <div class="input-group ">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control pull-right" id="minDate" placeholder="Order Date (default is yesterday's date)" @Html.Raw(ArchivesChecker.currentOrderDateSearch.Length > 0 ? String.Format(" value='{0}'", ArchivesChecker.currentOrderDateSearch) : "")>
                        <span class="input-group-btn">
                            <button class="btn btn-flat" id="searchDateButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <h4></h4>
                    <div class="input-group">
                        <input type="text" id="searchBar" onkeyup="searchRecipients()" name="q" class="form-control" placeholder="Search current table for order # / customer # / customer name">
                        <span class="input-group-btn">
                            <button class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    
                    
                    <table id="recipientTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="text-align: center">Order #</th>
                            <th style="text-align: center">Cust. #</th>
                            <th style="text-align: center">Cust. name</th>
                            <th style="text-align: center">Order Date</th>
                            <th style="text-align: center">Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var order in ArchivesChecker.CurrentOrders)
                            {
                                <tr class="drop-zone" name="list2" id=@("dropZone" + order._orderNo)>
                                    <td name="list" style='text-align:center'><a href="@("http://10.0.0.6/Tracking/Order/" + order._orderNo)" style="color:steelblue">@order._orderNo</a></td>
                                    <td style='text-align:center'>@order._custNo</td>
                                    <td style='text-align:center'>@order._custName</td>
                                    <td style='text-align:center'>@order._orderDate</td>
                                    <td id=@("checkRow" + order._orderNo) style='text-align:center'>@Html.Raw(order._hasFolder ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    
    <!-- /.box -->
    <!-- /.row -->
</section>
<!-- /.content -->
</body>

<div id="currentOrderUpload" style="display:none"></div>

<div class="modal"><!-- Place at bottom of page --></div>

@section Scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    ]
    <script type="text/javascript">

        //search field

        $(document).keypress(function (e) {
            if (e.which == 13 && ($('#searchBox').val().length == 6) && $("#searchBox").val().match(/^\d+$/)) {
                initiateSearch();
            }
        });

        // Disable search button on empty search box
        $("#searchBox").keyup(function () {
            if ($(this).val().length == 6 && $(this).val().match(/^\d+$/)) {
                // Enable submit button
                $('#searchButton').prop('disabled', false);
            } else {
                $('#searchButton').prop('disabled', true);
            }
        });

        // Initiates an AJAX request on click
        $(document).on("click",
            '#searchButton',
            function () {
                initiateSearch();
            }
        );

        function initiateSearch() {
            queryStr = $('#searchBox').val();

            var url = '@Url.Action("DailyOrderGetOrder", "Paperless", new {paramOne = "__param__"})';
            window.location.href = url.replace('__param__', encodeURIComponent(queryStr));
        }

        $(function() {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        $(function() {
            $('#minDate').datetimepicker({
                viewMode: 'years',
                format: 'MM/DD/YYYY'
            });
        });

        $('.actionConfirmation').on('click',
            function() {
                jQuery.event.trigger("ajaxStart");
            });

        $(document).on('click',
            '#refresh',
            function() {
                jQuery.event.trigger("ajaxStart");

                var queryStr = 'RF';

                var url = '@Url.Action("DailyOrderRefresh", "Paperless", new {id = "__param__"})';
                window.location.href = url.replace('__param__', encodeURIComponent(queryStr));
            });

        $(document).on('click',
            '#refresh2',
            function() {
                alert(document.getElementById("currentOrderUpload").textContent);
            });


        $('#searchDateButton').on('click',
            function() {
                var dateStr = 'Di';
                // If has date
                if ($("#minDate").val().length > 0) {
                    dateStr = $("#minDate").val().replace('/', '-').replace('/', '-');
                }

                var url = '@Url.Action("DailyOrderRefresh", "Paperless", new {paramOne = "__param__"})';
                window.location.href = url.replace('__param__', encodeURIComponent(dateStr));
            });


        $body = $("body");

        $(document).on({
            ajaxStart: function() { $body.addClass("loading"); },
            ajaxStop: function() { $body.removeClass("loading"); }

        });

        function searchRecipients() {
            // Declare variables
            var input, filter, table, tr, td, td1, i;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("recipientTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                var done = false;
                td2 = tr[i].getElementsByTagName("td")[2];
                td = tr[i].getElementsByTagName("td")[1];
                td1 = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        done = true;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
                if (!done && td1) {
                    if (td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        done = true;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
                if (!done && td2) {
                    if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        done = true;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        $(document).ready(function() {

            var soList = [];

            var input, filter, table, tr, td, i;
            tr = document.getElementsByName("list2");

            for (i = 0; i < tr.length; i++) {
                soList[i] = $(tr[i]).attr("id").substring(8);
            }

            for (i = 0; i < soList.length; i++) {
                $('#dropZone' + soList[i]).filedrop({
                    fallback_id:
                        '', // an identifier of a standard file input element, becomes the target of "click" events on the dropzone
                    fallback_dropzoneClick:
                        false, // if true, clicking dropzone triggers fallback file selection and the fallback element is made invisible.
                    url:
                        "/Paperless/OrdersDragUpload/" +
                            soList[i], // upload handler, handles each file separately, can also be a function taking the file and returning a url

                    paramname:
                        "fgg", // POST parameter name used on serverside to reference file, can also be a function taking the filename and returning the paramname

                    headers: { // Send additional request headers
                        'header': 'value'
                    },

                    allowedfileextensions:
                       ['msg'], // file extensions allowed. Empty array means no restrictions

                    maxfiles: 25,
                    maxfilesize: 20, // max file size in MBs

                    uploadStarted: function(i, file, len) {
                        // a file began uploading
                        // i = index => 0, 1, 2, 3, 4 etc
                        // file is the actual file of the index
                        // len = total files user dropped
                    },
                    dragLeave: function () {
                        $(this).css('border', '');
                    },
                    drop: function () {
                        var data = new FormData();
                        $(this).css('border', '');
                        var curOrder = $(this).attr("id").substring(8);
                        //$('#checkRow' + curOrder).css('border', 'steelblue dashed 3px');
                        $('#checkRow' + curOrder).html("<i class=\"fa fa-check\" style=\"color:green\"></i>");
                    },
                    dragOver: function(ixd, dd) {

                        $(this).css('border', 'steelblue dashed 3px');
                        //alert('df')
                        // Declare variables
                        //var input, filter, table, tr, td, td1, xi;
                        //tr = document.getElementsByName("list2");

                        // Loop through all table rows, and hide those who don't match the search query
                    },


                    error: function(err, file) {
                        switch (err) {
                        case 'BrowserNotSupported':
                            alert('Cannot drag from Outlook without DDAddin appl. Please see administrator!');
                            break;
                        case 'TooManyFiles':
                            // user uploaded more than 'maxfiles'
                            break;
                        case 'FileTooLarge':
                            // program encountered a file whose size is greater than 'maxfilesize'
                            // FileTooLarge also has access to the file which was too large
                            // use file.name to reference the filename of the culprit file
                            break;
                        case 'FileTypeNotAllowed':
                            // The file type is not in the specified list 'allowedfiletypes'
                            break;
                        case 'FileExtensionNotAllowed':
                            // The file extension is not in the specified list 'allowedfileextensions'
                            break;
                        default:
                            break;
                        }
                    }
                });
            }
        });

    </script>
}
