@using MvcApplication1.Models
@using MvcApplication1.Paperless_System

@{
    ViewBag.Title = "DailyInvoicing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-header">
                        <h3 class="box-title">Daily Invoicing Checklist</h3>
                    </div>
                    
                    <div class="input-group">
                        <input type="text" id="searchBar" onkeyup="searchRecipients()" name="q" class="form-control" placeholder="Search for order or invoice #">
                        <span class="input-group-btn">
                            <button class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <h4></h4>
                    <div class="input-group ">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control pull-right" id="minDate" placeholder="Invoice Date (default is yesterday's date)" @Html.Raw(ArchivesChecker.currentDateSearch.Length > 0 ? String.Format(" value='{0}'", ArchivesChecker.currentDateSearch) : "")>
                        <span class="input-group-btn">
                            <button class="btn btn-flat" id="searchDateButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    
                    
                    <table id="recipientTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="text-align: center">Order #</th>
                            <th style="text-align: center">Invoice #</th>
                            <th style="text-align: center">Die Form</th>
                            <th style="text-align: center">Order</th>
                            <th style="text-align: center">Invoice</th>
                            <th style="text-align: center">Drawings</th>
                            <th style="text-align: center">Misc. Count</th>
                            <th style="text-align: center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var archiveOrder in ArchivesChecker.CurrentInvoiceOrders)
                            {
                                int archiveIndex = 0;
                                <tr>
                                    <td style='text-align:center'><a href="@("http://10.0.0.6/Tracking/Order/" + archiveOrder._orderNo)" style="color:steelblue">@archiveOrder._orderNo</a></td>
                                    <td style='text-align:center'>@archiveOrder._invoiceNo</td>
                                    <td style='text-align:center'>@Html.Raw(archiveOrder.hasDieForm ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align:center'>@Html.Raw(archiveOrder.hasOrderForm ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align:center'>@Html.Raw(archiveOrder.hasInvoice ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align:center'>@Html.Raw(archiveOrder.hasDrawings ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align:center'>@archiveOrder.miscScanItems</td>
                                    <td style='text-align:center'>
                                        <a href="@Url.Action("DailyInvoicingRefresh", "Paperless", new {identifyString = archiveIndex}, null)"><i class="actionConfirmation fa fa-refresh" title="Refresh"></i></a>
                                    </td>
                                </tr>
                                archiveIndex++;
                            }
                        }
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    
<!-- /.box -->
    <!-- /.row -->
</section>
<!-- /.content -->
</body>

<div class="modal"><!-- Place at bottom of page --></div>

@section Scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    

    <script type="text/javascript">
        

        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        $(function () {
            $('#minDate').datetimepicker({
                viewMode: 'years',
                format: 'MM/DD/YYYY'
            });
        });

        $('.actionConfirmation').on('click',
            function () {
                jQuery.event.trigger("ajaxStart");
            });

        $('#searchDateButton').on('click',
            function () {
                var dateStr = 'Di';
                // If has date
                if ($("#minDate").val().length > 0) {
                    dateStr = $("#minDate").val().replace('/', '-').replace('/', '-');
                }

                var url = '@Url.Action("DailyInvoicingRefresh", "Paperless", new {paramOne = "__param__"})';
                window.location.href = url.replace('__param__', encodeURIComponent(dateStr));
            });


        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }

        });

        function searchRecipients() {
            // Declare variables
            var input, filter, table, tr, td, td1, i;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("recipientTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                var done = false;
                td = tr[i].getElementsByTagName("td")[1];
                td1 = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        done = true;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
                if (!done && td1) {
                    if (td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        done = true;
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }
        }
    </script>
}
