@using DocumentFormat.OpenXml.EMMA
@using MvcApplication1.Paperless_System

@{
    ViewBag.Title = "SearchArchive";
}

<link href="~/Content/css/personal.css" rel="stylesheet" />

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h1 class="box-title">Exco Paperless Archive</h1>
                    <button style="float:right" id="refresh" class="btn btn-default">Refresh Archives</button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table dataTables_filter table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">Order #</th>
                            <th style="text-align: center">Inv. #</th>
                            <th style="text-align: center">Inv. Date</th>
                            <th style="text-align: center">PO</th>
                            <th style="text-align: center">Order</th>
                            <th style="text-align: center">Inv.</th>
                            <th style="text-align: center">Dwg.</th>
                            <th style="text-align: center">Misc.</th>
                            <th style="text-align: center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var archiveOrder in ArchivesChecker.Archives)
                            {
                                <tr>
                                    <td style='text-align: center'><a href="@("http://10.0.0.6/Tracking/Order/" + archiveOrder._orderNo)" style="color: steelblue">@archiveOrder._orderNo</a></td>
                                    <td style='text-align: center'>@archiveOrder._invoiceNo</td>
                                    <td style='text-align: center'>@(@archiveOrder.InvoiceDate.Year > 2000 ? archiveOrder.InvoiceDate.ToShortDateString() : "")</td>
                                    <td style='text-align: center'>@Html.Raw(archiveOrder.hasDieForm ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align: center'>@Html.Raw(archiveOrder.hasOrderForm ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align: center'>@Html.Raw(archiveOrder.hasInvoice ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align: center'>@Html.Raw(archiveOrder.hasDrawings ? "<i class=\"fa fa-check\" style=\"color:green\"></i>" : "<i class=\"fa fa-remove\" style=\"color:red\"></i>")</td>
                                    <td style='text-align: center'>@archiveOrder.miscScanItems</td>
                                    <td style='text-align: center'>
                                        <a href="#" id=@("MO_" + archiveOrder._orderNo) data-toggle="modal" data-target="#modal-info"><i class="fa fa-eye" title="Preview Archive"></i></a>
                                        <a href="#" id=@("VI_" + archiveOrder._orderNo) data-toggle="modal" data-target="#modal-info"><i class="fa fc-agenda-view" title="View Archive"></i></a>
                                        <a href="@Url.Action("DownloadArchive", "Paperless", new {paramOne = @archiveOrder._orderNo}, null)"><i class="fa fa-download" title="Download Archive"></i></a>
                                        <input type="file" name="attach" id="attach-input" multiple="" style="display: none"/>
                                        <a href="#" type='submit' name=@("FU_" + archiveOrder._orderNo) id="attach-button"><i class="fa fa-upload" title="Upload to Archive"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="modal fade" id="modal-info">
                <div class="modal-dialog vertical-align-center modal-admin">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 id="modalHeader" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p id="fileList"></p>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- /.row -->
    <div id="currentOrderUpload" style="display: none;"></div>
</section>


<div class="modalloading"><!-- Place at bottom of page --></div>

@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">

        $(function() {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "oLanguage": { "sSearch": "Search: " }
            });
        });

        $('[id^="MO_"]').click(function () {
            // do something
            var orderNum = $(this).attr("id").substring(3);
            $("#modalHeader").text("Files for " + orderNum);
            getUIContent(orderNum);
        });

        $('[id^="VI_"]').click(function () {
            // do something
            var orderNum = $(this).attr("id").substring(3);
            getVIContent(orderNum);
        });


        $(document).ready(function () {
            $('[id^="File_"]').trigger("click");
        });
        $(document).on("click", $('[id^="File_"]'), function () {
            $(this).text("It works!");
        });
        $('[id^="File_"]').click(function () {
            // do something
            alert($(this).attr("id"));
        });


        function getVIContent(id) {
            return $.ajax({
                type: "GET",
                url: "/Paperless/ViewArchive/" + id,
                contentType: "application/json; charset=utf-8",
                async: false,
                dataType: "text",
                success: function (data) {

                    document.getElementById('fileList').innerHTML = data;
                }
            });
        }

        function getUIContent(id) {
            return $.ajax({
                type: "GET",
                url: "/Paperless/GetFilesById/" + id,
                contentType: "application/json; charset=utf-8",
                async: false,
                dataType: "text",
                success: function (data) {

                    document.getElementById('fileList').innerHTML = data;
                }
            });
        }

        $(document).on('click',
            '#refresh',
            function () {

                jQuery.event.trigger("ajaxStart");

                var queryStr = 'RF';

                var url = '@Url.Action("RefreshArchives", "Paperless", new {id = "__param__"})';
                window.location.href = url.replace('__param__', encodeURIComponent(queryStr));
            });

        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }

        });


        // below is for uploading files

        //var button = $('#attach-button');
        var button = $('[id="attach-button"]');
        var input = $('#attach-input');

        // translates collection of files into a form
        function BuildFormData(files) {

            var data = new FormData();

            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }

            return data;
        }

        // posts the files to a given url
        function PostData(data, id) {

            $.ajax({
                // method
                type: 'POST',

                // endpoint
                url: "/Paperless/UploadToArchive/" + id,

                // next 2 lines required for using FormData with jQuery
                contentType: false,
                processData: false,

                // FormData instance
                data: data,

                // success handler
                success: function (result) {

                    //alert('Success: Files uploaded for ' + id);

                    console.log(result);
                },
                
                error: function (result) {

                    alert('Error uploading file for: ' + id);

                    console.log(result);
                }
            });
        }

        // when the button is clicked..
        button.on('click', function (e) {
            // it launches the file picker
            $("#currentOrderUpload").text($(this).attr("name").substring(3));
            input.click();
        });

        // when the file picker changes..
        input.on('change', function (e) {

            // turn it into a form
            var data = BuildFormData(e.target.files);

            var myDivObj = document.getElementById("currentOrderUpload");
            var currentOrderNo = myDivObj.textContent;


            // post the form to the action method
            PostData(data, currentOrderNo);
        });

    </script>
}
